@{
    ViewBag.Title = "Index";
}

<h2>Employee Details</h2>

<div ng-app="mainApp" ng-controller="employeeController">
    <span>{{generalError}}</span>
    <span ng-show="errors.length > 0" ng-repeat="err in errors">{{err}}</span>
    <table>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Salary</td>
            <td>Department</td>
        </tr>
        <tr ng-repeat="emp in employees">
            <td>{{emp.empId}}</td>
            <td>{{emp.empName}}</td>
            <td>{{emp.empSalary}}</td>
            <td>{{emp.department.deptName}}</td>
            <td><a href="#" id="lnkEdit" ng-click="edit(emp.empId)">Edit</a></td>
            <td><a href="#" id="lnkDelete" ng-click="delete(emp.empId)">Delete</a></td>
        </tr>
    </table>
    <hr />
    <div>
        Add Employee
        <hr />
        <form name="empForm" novalidate>
            Emp Name:
            <input type="text" name="txtName" ng-model="newEmp.empName" required />
            <span ng-show="empForm.txtName.$error.required && empForm.txtName.$dirty">Please enter name</span>
            <br />
            Emp Salary:
            <input type="number" name="txtSalary" ng-model="newEmp.empSalary" min="1000" />
            <span ng-show="empForm.txtSalary.$error.required && empForm.txtSalary.$dirty">Please enter salary</span>
            <br />
            <div ng-controller="departmentController">
                Department:
                <select ng-options="dept.deptId as dept.deptName for dept in departments" ng-model="newEmp.deptId" required></select>
            </div>
            <input type="button" name="name" value="Insert" ng-disabled="empForm.$invalid" ng-click="add(newEmp)" />
            <input type="button" name="name" value="Update" ng-disabled="empForm.$invalid" ng-click="update(newEmp)" />
        </form>
    </div>
</div>
@section scripts
{
    <script src="~/CustomScripts/Employee/employee-service.js"></script>
    <script src="~/CustomScripts/Employee/employee-controller.js"></script>
    <script src="~/CustomScripts/Department/department-service.js"></script>
    <script src="~/CustomScripts/Department/department-controller.js"></script>
}