html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

td {
    border: 1px solid black;
    width: 150px;
    border-color: #96D4D4;
}
th {
    border-color: #96D4D4;
}
tr {
    border-color: #96D4D4;
}

.outer {
    overflow-y: auto;
    height: 300px;
}

.outer {
    width: 100%;
    -layout: fixed;
}

.outer th {
    text-align: left;
    top: 0;
    position: sticky;
    background-color: white;
}