@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MYCRUD</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body ng-app="myApp" ng-controller="citiesController">
    
    <div class="text-center">
            <h1>Cities</h1>
            <p>This is an API to get information about cities around the world.</p>
            <span>{{generalError}}</span>
            <span ng-show="errors.length > 0" ng-repeat="err in errors">{{err}}</span>
    </div>
        
        <span>{{generalError}}</span>
    
        <br />
        <hr />
        
    <br />
    <hr />
        
    <div>
        Insert new City
        <form name="cityForm" novalidate>
            <table>
                <tr>                
                    <td align="right">City Name:</td> 
                    <td><input type="text" name="txtName" ng-model="newCity.Name" required />
                        <span ng-show="cityForm.txtName.$error.required && cityForm.txtName.$dirty">Please enter city name</span></td>
                </tr>
                <tr>
                    <td align="right"> State: </td>
                    <td> <input type="text" name="txtState" ng-model="newCity.State" /> </td>
                </tr>
                <tr>
                    <td align="right">Country: </td>
                    <td><input type="text" name="txtCountry" ng-model="newCity.Country" /></td>
                </tr>
                <tr>
                    <td align="right">Population:</td>
                    <td> <input type="number" onchange="this.value = parseInt(this.value);" name="txtPopulation" ng-model="newCity.Population" /></td>
                </tr>
            </table>
        </form>

    </div>
    

     <div class="container-fluid col-md-11">
      <div class="row">

        <div class="col-lg-12">

   
            <div class="card-body">
              <div class="outer">

                <table class="table table-hover bg-light">
                    
                  <thead>
                    <tr>
                      <th scope="col">City Name</th>
                      <th scope="col">State ID</th>
                      <th scope="col">Country ID</th>
                      <th scope="col">Population</th>
                      <th scope="col">Editar</th>
                      <th scope="col">Eliminar</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                      <tr ng-repeat="city in cities.data">
                        <td>{{city.cityName}}</td>
                        <td>{{city.stateId}}</td>
                        <td>{{city.countryId}}</td>
                        <td>{{city.population}}</td>
                        <td> <a class="btn btn-success" href="#">
                            <i class="fa fa-edit"></i>
                          </a>
                        </td>
                        <td> <a class="btn btn-danger" href="#">
                            <i class="fa fa-trash"></i>
                          </a>
                        </td>
                      </tr>
                  </tbody>
                  
                </table>
              </div>

            </div>

     




        </div>

      </div>

    </div>
    
</body>

